<settings>
    <common>
        <central-server>
            <port value="9999"/>
            <server-directory value="tests/data/serverData/"/>
            <class-loader-home-dir value="home"/>
        </central-server>
        <broadcast>
            <broadcasting-timeout-in-ms value="3000"/>
            <port value="7777"/>
            <broadcastAddress value="239.0.0.1"/>
            <portToListen value="44445"/>
            <nicName value="lo0"/>
            <nicParticularAddress value="/127.0.0.1"/>
        </broadcast>
        <classloader>
            <host-address value="127.0.0.1"/>
            <port value="10000"/>
        </classloader>
    </common>
</settings>