<settings>
    <broadcast>
        <broadcast-port value="44445"/>
        <group-address-to-join value="239.0.0.1"/>
    </broadcast>
    <classloader>
        <home-directory value="home"/>
    </classloader>
    <server>
        <host-address value="127.0.0.1"/>
        <worker-main-port value="44446"/>
    </server>
</settings>